/*=====Body=====*/
.body
{
    position: relative;
    display: grid;
    grid-template-rows: calc(56.25vw + 27px) auto auto;
    z-index: 2;
    transition: 0.5s;
}

/*-----Trend Container-----*/
.trend-container
{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
}

#daily-deal
{
    position: relative;
    display: none;
    margin-top: 2.5px;
}
/*=====Body=====*/

/*Tablet & Desktop*/
@media screen and (min-width: 1024px)
{   
    /*=====Body=====*/
    .body
    {
        grid-template-rows: repeat(3, auto);
    }

    /*-----Trend Container-----*/
    .trend-container
    {
        grid-template-columns: 650px auto;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        background: rgb(20, 23, 32);
    }

    #daily-deal
    {
        display: block;
        width: 253.125px;
        height: 361.5px;
        grid-column: 2/3;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #daily-deal img
    {
        width: 100%;
        height: 100%;
        position: relative;
    }
    /*=====Body=====*/
}

/*Desktop only*/
@media screen and (min-width: 1280px)
{
    /*=====Body=====*/
    /*-----Trend Container-----*/
    .trend-container
    {
        grid-template-columns: 800px auto;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }

    #daily-deal
    {
        display: block;
        width: 324px;
        height: 456px;
        grid-column: 2/3;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #daily-deal img
    {
        width: 100%;
        height: 100%;
        position: relative;
    }
}
